/Game/Library/
/Game/Logs/
/Game/Temp/
/Game/UserSettings/
/Game/.idea/
/Game/obj/
*.csproj
*.sln
/Game/.utmp/
/Game/Bin/
/Test/.utmp/
/Test/Bin/
/Test/Library/
/Test/Logs/
/Test/Temp/
/Test/UserSettings/
/Game/UIElementsSchema/
